<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>
<%- include('partials/messages.ejs') %>

<div class="container p-5">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Padmi</h1>
        <p>Padmi es un software de administración de proyectos
            Permite trabajar de forma más colaborativa y ser más productivo.
            Las tarjetas, listas y tableros de Trello le permiten organizar y priorizar sus proyectos de forma divertida, flexible y provechosa.
        </p>
        <hr class="my-4">
        <a href="http://www.github.com/AguilarAlejandro">Github desarrollador</a>
    </div> 
</div> 
</body>
</html>
