.popupAlert {
	margin-bottom: 0;
	color: black;
	font-size: 16px !important;
	border: 1px solid black;
}

.notLink {
	text-decoration: none;
}
.navbar {
	font-size: 20px;
}

.navbar-brand {
	font-size: 20px;
}

.transparentButton {
	background-color: transparent;
	outline: none;
	color: white;
	border: none;

}

.row {
	max-width: 100vw;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.nav-logo {
	position: absolute; 
    left: 50%; 
	transform: translatex(-50%); 
	opacity:0.5;
}
.nav-logo:hover{
	opacity:1;
}

/* SortableJS class */
#cardGroup .list-group-item {
	cursor: move;
}
#cardGroup .list-group-item.selected {
	transform: scale(1.02) rotate(-2deg);
	box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
}
#cardGroup .list-group-item.ghost {
	border: 2px dotted white;
}
#cardGroup .list-group-item.drag {
	opacity: 0;
}
/********************/

/** Cards */
#cardGroup li {
	padding: 0;
	text-align: center;
	margin-left:5px;
}
.card-item {
	display: block;
	padding: 8px 0;
}
.transparentButton {
	padding: 8px 0;
}
/* ***** */


@media (min-width: 1600px) {
	.card-text {
		font-size: 0.8em;
	}
}

@media (max-width: 768px) {
	.boardCards {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.boardsVertically {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}
