<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (pageTitle=='Your board') { %>
    <title>Padmi | <%=currentBoard.boardTitle%></title>
    <%} else {%>
    <title>Padmi | <%=pageTitle%></title>
    <%}%>
    <script>
        link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        if (localStorage.getItem("modeSelector") == 'dark') {
            link.href = '/stylesheets/bootstrapDark.min.css';
        } else {
            link.href = '/stylesheets/bootstrapLight.css';
        }
        document.getElementsByTagName('HEAD')[0].appendChild(link);  
    </script>
    <link rel="icon" href="/images/favicon.png" type="image/icon type">
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <script> 
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        if (localStorage.getItem("modeSelector") == 'dark') {
            link.href = '/stylesheets/style.css';
        } else {
            link.href = '/stylesheets/stylealt.css';
        }
        document.getElementsByTagName('HEAD')[0].appendChild(link);


    </script>  

</head>